body {
  background-color: #888;
}

main {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  background-color: #fff;
  position: relative;
}

#stickers > img {
  height: 40px;
}

#head > img {
  height: 200px;
}

/* Put on stickers! */

/* Change numer of the #eyes-0[1-3] */
#eyes-02 {
  position: absolute;
  top: 80px;
  left: 155px;
}

/* Change numer of the #mouth-0[1-5] */
#mouth-03 {
  position: absolute;
  top: 130px;
  left: 155px;
}

/* Change numer of the  #brow-0[1-4] */
#brow-04 {
  position: absolute;
  top: 60px;
  left: 150px;
}

